/* main elements */
html,
body,
.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.container {
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  min-width: 300px;
  max-width: 1270px;
  display: flex;
  flex-flow: row;
  width: 98%;
  height: 97.5%;
  padding: 1%;
  background-color: lightgray;
}

.my-col-left {
  width: 96%;
  padding: 10px 2%;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  justify-content: space-between;
}

.my-col-right {
  width: 0%;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
}

.my-part {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  justify-content: space-between;
  padding: 7px 0;
  width: 100%;
}

.playground {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  width: 100%;
}

.audience {
  height: 160px;
  padding: 0;
  background: url(../img/audience1200.png) no-repeat center;
}

/* board of game */
.board {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

/* columns or rows inside board */
.my-col {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  justify-content: center;
}

.my-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  justify-content: center;
}

/* single card */
.card {
  margin: 0;
  padding: 0;
}

.card img {
  width: 90%;
  padding: 5%;
}

h1 {
  margin: auto;
}

p {
  margin: 0;
}

footer {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
  white-space: pre;
  margin: 7px 0;
}

footer span {
  margin: 7px 10px;
}

img {
  width: 100%;
}

button,
select,
option {
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
}

/* line stylization */
hr {
  height: 12px;
  width: 100%;
  border: 0;
  margin: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}




//* image on header */
.u-sign {
  width: 96px;
  height: 96px;
}

/* center */
#game {
  margin: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

#canvas {
  background-color: white;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* breakpoints */

/* change audience */
@media screen and (max-width: 820px) {
  .audience {
    height: 115px;
    background: url(../img/audience800.png) no-repeat center;
  }
}

@media screen and (max-width: 600px), (max-height: 600px) {
  .audience {
    height: 80px;
    background: url(../img/audience600.png) no-repeat center;
  }
}

/* hide the menu show hamburger */
@media screen and (max-width: 765px) {
  aside {
    position: fixed;
    left: -140px;
  }
  .hamburger {
    display: block;
  }
}

/* change to 1 column */
@media screen and (max-width: 550px) {
  .box-feature {
    width: 97%;
  }
  /* shorten the subtitles */
  .full {
    display: none;
  }
  .short {
    display: block;
  }
}

/* shorten the subtitles */
@media screen and (max-width: 400px) {
  .short {
    display: none;
  }
  .mini {
    display: block;
  }
}

/* animations */
@keyframes change-shape {
    0% { transform: rotate3d(1, 0, 0, 0deg); background-color: #02b3e4;}
    25% { transform: rotate3d(3, 2, 0, 90deg); background-color: yellow;}
    50% { transform: rotate3d(1, 2, 0.5, 180deg); background-color: red;}
    75% { transform: rotate3d(2, 1, 3, 270deg); background-color: purple;}
    100% { transform: rotate3d(0, 0, 0, 360deg); background-color: #02b3e4;}
}

@keyframes fade-out {
  from { opacity: 1;}
  to { opacity: 0;}
}

@keyframes fade-in {
  from { opacity: 0;}
  to { opacity: 1;}
}
