/* main elements */
html,
body,
.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.container {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.4em;
  font-weight: bold;
  min-width: 300px;
  max-width: 1270px;
  display: flex;
  flex-flow: row;
  width: 98%;
  height: 97.5%;
  padding: 1%;
  background-image: repeating-radial-gradient(#ccb , #cbc 15%, #bcc 50%);
}

.my-col-left {
  width: 96%;
  padding: 10px 2%;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  justify-content: space-between;
}

.my-col-right {
  width: 0%;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
}

.my-part {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  justify-content: space-between;
  padding: 7px 0;
  width: 100%;
}

.playground {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  width: 100%;
}

.audience {
  height: 160px;
  padding: 0;
  background: url(../img/audience1200.png) no-repeat center;
  z-index: 10;
}

/* board of game */
.board {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

/* columns or rows inside board */
.my-col {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  justify-content: center;
}

.my-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row;
  justify-content: center;
}

/* single card */
.card-box {
  margin: 0;
  padding: 0;
  position: relative;
  perspective: 700px;
  margin: 0;
  padding: 0;
}

.card {
  width: 96%;
  height: 96%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin: 2%;
  padding: 0;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 96%;
  height: 96%;
  margin: 2%;
  padding: 0;
  backface-visibility: hidden;
  border-radius: 5%;
}

.card img {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.card .front {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotateY( 180deg );
}

.card .back {
  background-image: url("../img/bgr.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.flipped {
  transform: rotateY( 180deg );
}


h1 {
  margin: auto;
}

p {
  margin: 0;
}

footer {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
  white-space: pre;
  margin: 7px 0;
}

footer span {
  margin: 7px 10px;
}

img {
  width: 100%;
}

button,
select,
option {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.0em;
  font-weight: bold;
  text-align-last: center;
}

/* line stylization */
hr {
  height: 12px;
  width: 100%;
  border: 0;
  margin: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* divs for hat*/
.hat-box {
  position: absolute;
  top: 710px;
  left: 0;
  pointer-events: none;
}

.hat-X {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  animation-name: moveX;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.hat-Y {
  position: relative;
  top: 0;
  left: 0;
  pointer-events: none;
  animation-name: moveY0;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hat {
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;  
  pointer-events: none;
  background-image: url("../img/hat0.png");
  background-size: contain;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.win {
  width: 70%;
  margin: 10% 15%;
  padding: 5% 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  align-content: center;
  top: 0;
  left: 0;
}

.again {
  position: relative;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.again p {
  padding: 0.2em 0;
}

.btn-again {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.2em 0.7em;
}


@keyframes moveX0 { to { left: -577px; } }
@keyframes moveX1 { to { left: -397px; } }
@keyframes moveX2 { to { left: -181px; } }
@keyframes moveX3 { to { left: -67px; } }
@keyframes moveX4 { to { left: -23px; } }
@keyframes moveX5 { to { left: 31px; } }
@keyframes moveX6 { to { left: 73px; } }
@keyframes moveX7 { to { left: 197px; } }
@keyframes moveX8 { to { left: 401px; } }
@keyframes moveX9 { to { left: 619px; } }

@keyframes moveY0 { 50% { top: -520px; animation-timing-function: ease-in; } }
@keyframes moveY1 { 50% { top: -440px; animation-timing-function: ease-in; } }
@keyframes moveY2 { 50% { top: -360px; animation-timing-function: ease-in; } }
@keyframes moveY3 { 50% { top: -290px; animation-timing-function: ease-in; } }
@keyframes moveY4 { 50% { top: -230px; animation-timing-function: ease-in; } }
@keyframes moveY5 { 50% { top: -170px; animation-timing-function: ease-in; } }
@keyframes moveY6 { 50% { top: -100px; animation-timing-function: ease-in; } }

@keyframes moveR0 { to { transform: rotate(360deg); } }
@keyframes moveR1 { to { transform: rotate(-360deg); } }
@keyframes moveR2 { to { transform: rotate(-180deg); } }
@keyframes moveR3 { to { transform: rotate(180deg); } }


/* breakpoints */
/* change audience */
@media screen and (max-width: 820px) {
  .audience {
    height: 115px;
    background: url(../img/audience800.png) no-repeat center;
  }
  .container {
    font-size: 0.9em;
  }
  button,
  select,
  option {
    font-size: 0.8em;
  }
  .again {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px), (max-height: 600px) {
  .audience {
    height: 80px;
    background: url(../img/audience600.png) no-repeat center;
  }
  .again {
    font-size: 1.4em;
  }
}

